/* Basic Style */
body {
  background: #fff;
  color: #333;
  font-family: Lato, sans-serif;
}

ul {
  margin: 0;
  padding: 0;
}
li * {
  float: left;
}
li, h3 {
  clear:both;
  list-style:none;
}
input, button {
  outline: none;
}

button {
  background: none;
  border: 0px;
  color: #888;
  font-size: 15px;
  width: 150px;
  margin: 10px 0;
  font-family: Lato, sans-serif;
  cursor: pointer;
}

label {
  color: #333;
  float: left;	
}

input[type="text"] {
  margin: 5px;
  font-size: 18px;
  line-height: 20px;
  height: 22px;
  padding: 10px;
  border: 1px solid #ddd;
  background: #fff;
  border-radius: 6px;
  font-family: Lato, sans-serif;
  color: #888;
  width: 100%;
}

input[type="text"]:focus {
  color: #333;
}

li {
  overflow: hidden;
  padding: 5px 0;
}

li > label {
  font-size: 18px;
  line-height: 20px;
  width: 237px;
  padding: 0 0 0 6px;
}

li >  input[type="text"] {
  width: 226px;
}

.top-margin {
	margin-top: 25px;
}

.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}
.center {
	text-align: center;
    margin: auto;
    width: 85%;
    padding: 15px;
}
.btn-margin {
	margin: 20px;
	padding: 20px;
}
.border { 
	min-height: 450px;
	border: 1px solid #BBB; 
	position: relative;
 }  
 
.hidden {
	display: none;
}

.hiddenButPresent {
	visibility: hidden;
}

.left-margin {
	margin-left: 5px;
}

.right-margin {
	margin-right: 5px;
}

.bottom-margin {
	margin-bottom: 20px;
}

#jobSelectButton {
	margin: 30px 0;
}

#empMoveDrop {
	margin: 30px 0;
}